*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#container{
    background: gray;
    color:black;
    font-size: 16px;
    width: 100%;
}

.display-4{
    color: #cc5500;
    font-family: "Monoton", cursive;
    
}
.longhorn{
    float: right;
    width: 50%;
    height: 170px;
    position: relative;
    top: -123px;
}

.buttons{
    margin-left: 10px;
    margin-right: 10px;
   
}

p.lead{
    margin-left: 5%;
}

h1{
    margin-left: 5%;
    margin-right: 5%;
}
.btn-secondary{
    margin: 6px;
}

#button-group{
    margin-left: 31%;
}

#question{
    text-align: center;
}
.card{
    margin-left: 6%;
}

.list-group-item{
    float:right;
    margin-bottom: 30px;
    position: relative;
    right: 72px;
    padding: 0.75rem 1.25rem;
    text-align: center;
}

.start{
    width: 100%;
}




